@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/Helvetica.eot") format("eot"),
		 url("../fonts/Helvetica/Helvetica.woff2") format("woff2"),
		 url("../fonts/Helvetica/Helvetica.woff") format("woff"),
		 url("../fonts/Helvetica/Helvetica.ttf") format("truetype"),
		 url("../fonts/Helvetica/Helvetica.svg#Helvetica") format("svg");
	font-weight: normal;
}

@font-face {
	font-family: "YuGothicBold";
	src:  url("../fonts/YuGothicBold/yugothib.ttf") format("truetype"),
}

@font-face {
	font-family: "YuGothicLight";
	src:  url("../fonts/YuGothicLight/yugothil.ttf") format("truetype"),
}

@font-face {
	font-family: "YuGothicMedium";
	src:  url("../fonts/YuGothicMedium/yugothim.ttf") format("truetype"),
}

@font-face {
	font-family: "YuGothicRegular";
	src:  url("../fonts/YuGothicRegular/yugothir.ttf") format("truetype"),
}