.container {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.flex {
    display: flex;
    display: -webkit-box;   
    display: -moz-box;     
    display: -ms-flexbox;     
    display: -webkit-flex;
}

.container-flex {
    @extend .container;
    @extend .flex;
}

.container-relative {
    position: relative;
    align-items: center;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.main-content {
    padding: 42px 0 90px;
    position: relative;
}

.img-responsive {
    width: 100%;
}

.disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s linear;
}