<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This is a sample site for LIG examination" />
    <meta name="keywords" content="LIG">
    <meta name="author" content="Martini Axell Malinao">
    <meta name="robots" content="index, follow">
    <title>LIG Examination</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
    <link rel="stylesheet" href="assets/css/main.css" />

    <script src="assets/js/libraries/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/modules/backToTop.js"></script>
    <script src="assets/js/modules/slider.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="container-flex container-relative">
          <a id="websiteLogo" :href="websiteLogo.url" class="header__image-url">
            <img :src="websiteLogo.imageSrc" class="header__image" :alt="websiteLogo.alt">
          </a>
          <ul id="socialMedia" class="header__social-media">
            <li class="header__social-media-item" v-for="socialMedia in socialMedias">
              <a :href="socialMedia.url" class="header__url" target="_blank">
                <img :src="socialMedia.imageSrc" :alt="socialMedia.alt">
              </a>
            </li>
          </ul>
        </div>

        <div class="menu">
          <ul id="menuItems" class="container-flex menu__nav">
            <li class="menu__item" v-for="menuItem in menuItems">
              <a :href="menuItem.url" class="menu__url" :class="menuItem.isActive ? 'menu__url--active' : ''">{{menuItem.label}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="slider">
        <div class="slider__viewport">
          <div id="sliderItems" class="slider__items-holder" data-left='0'>
            <div class="slider__item" v-for="(sliderItem, index) in sliderItems" :id="'sliderItem-' + index">
              <div class="slider__image">
                <img :src="sliderItem.imageSrc" class="img-responsive" alt="Slider Image">
              </div>
              <div class="slider__content">
                <h1 class="slider__heading">{{ sliderItem.heading }}</h1>
                <div id="sliderDesc" v-for="desc in sliderItem.description">
                  <p class="slider__description">{{ desc }}</p>
                </div>
              </div>
            </div>
          </div>

          <div id="sliderNavs" class="slider__navs container">
            <a href="#" class="slider__arrow" v-for="sliderNav in sliderNavs" :class="sliderNav.class" :data-target="sliderNav.target">
              <img :src="sliderNav.imageSrc" :alt="sliderNav.alt">
            </a>
          </div>

          <ul id="sliderDots" class="slider__indicators container">
            <li v-for="(sliderItem, index) in sliderItems" class="slider__indicator-item" :class="index == 0 ? 'slider__indicator-item--active' : ''" :data-index="index" :id="'sliderIndicator-' + index"></li>
          </ul>
        </div>
      </div>

      <div class="container-flex main-content">
        <div id="articleItems" class="article">
          <a v-for="articleItem in articleItems" :href="articleItem.url" class="article__url">
            <div class="article__item">
              <div class="article__image">
                <img :src="articleItem.imageSrc" class="img-responsive article__image-item" :alt="articleItem.imageSrcAlt">
                <img :src="articleItem.imageSrcHover" class="img-responsive article__image-item--overlay" :alt="articleItem.imageSrcHoverAlt">
              </div>
              <div class="article__content">
                <div class="article__subhead">{{ articleItem.date }}</div>
                <h3 class="article__heading">{{ articleItem.heading }}</h3>
                <p class="article__description">{{ articleItem.description }}</p>
              </div>
            </div>
          </a>

          <button class="btn">More <img class="btn__icon" src="assets/images/more_arrow.png" alt="More"></button>
        </div>
        <div class="sidebar">
          <a href="#" class="sidebar__banner">
            Dummy banner
          </a>

          <div class="recommend">
            <h2 class="recommend__header">Recommend</h2>
            <div id="recommendItems">
              <a v-for="recommendItem in recommendItems" :href="recommendItem.url" class="recommend__url">
                <div class="recommend__item">
                    <div class="recommend__image">
                      <img :src="recommendItem.imageSrc" class="img-responsive recommend__image-item" :alt="recommendItem.alt">
                    </div>
                    <div class="recommend__content">
                      <p class="recommend__description">{{ recommendItem.description }}</p>
                      <div class="recommend__subhead">{{ recommendItem.date }}</div>
                    </div>
                </div>
              </a>
            </div>
          </div>

          <div id="dummyBannerItems">
            <a v-for="dummyBannerItem in dummyBannerItems" :href="dummyBannerItem.url" class="sidebar__banner sidebar__banner--dark">
              {{ dummyBannerItem.description }}
            </a>
          </div>
        </div>

        <a href="#" class="back-to-top">
          <img src="assets/images/back_to_top.png" alt="Back to top">
        </a>
      </div>
      <div class="footer">
        <div class="container-flex">
          <ul id="footerItems" class="footer__menu">
            <li v-for="footerItem in footerItems" class="footer__menu-item">
              <a :href="footerItem.url" class="footer__url">{{ footerItem.label }}</a>
            </li>
          </ul>

          <div class="footer__copyright">©2016 Sample</div>
        </div>
      </div>
    </div>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>