.footer {
    background: $black;
    padding: 6.5px 0;
    &__menu {
        padding: 0;
        list-style-type: none;
        margin: 0;
        @extend .flex;
    }

    &__menu-item:not(:last-of-type) {
        margin-right: 20px;
    }

    &__url {
        transition: all .2s linear;
        color: $white;
        font-family: "YuGothicMedium";
        font-size: 13px;
        line-height: 32px;
        &:hover {
            opacity: .7;
        }
    }

    &__copyright {
        color: $white;
        line-height: 32px;
        font-family: "Helvetica";
        margin-left: auto;
    }
}