.header {
    border-top: 3px solid $yellow;
    align-content: center;

    &__image-url {
        margin: 26px auto;
        display: block;
    }

    &__social-media {
        @extend .flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
    }

    &__social-media-item:not(:last-of-type) {
        margin-right: 17px;
    }

    &__url {
        transition: all .2s linear;
        &:hover {
            opacity: .7;
        }
    }
}