.sidebar {
    background: $gray-bg;
    flex: 0 0 300px;
    max-width: 300px;
    padding: 20px;
    height: 100%;

    &__banner {
        width: 100%;;
        height: 300px;
        background: $white;
        color: $black;
        font-family: "Helvetica";
        font-size: 16px;
        @extend .flex;
        display: -webkit-box;   
        display: -moz-box;     
        display: -ms-flexbox;     
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    &__banner:hover {
        opacity: .7;
        transition: all .2s linear;
    }

    &__banner--dark {
        height: 94px;
        background: $gray-banner;
        color: $white;
        margin-bottom: 0;
    }

    &__banner--dark:not(:last-child) {
        margin-bottom: 16px;
    }
}