.article {
    flex: 1;
    margin-right: 56px;
    $root: &;

    &__item {
        @extend .flex;
    }

    &__url {
        display: block;
    }

    &__url:not(:last-of-type) {
        margin-bottom: 40px;
    }

    &__url:last-of-type {
        margin-bottom: 60px;
    }

    &__image {
        flex: 0 0 206px;
        max-width: 206px;
        position: relative;
    }
    &__image-item--overlay {
        z-index: -2;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
    }

    &__item:hover {
        #{$root}__image-item--overlay {
            z-index: 5;
            visibility: visible;
            opacity: 1;
            transition: all .2s linear;
        }

        #{$root}__heading {
            color: $yellow;
            transition: all .2s linear;
        }
    }

    &__content {
        flex: 1;
        padding-left: 14px;
    }

    &__description, &__subhead {
        font-size: 13px;
    }

    &__subhead {
        font-family: "Helvetica";
        margin-bottom: 10px;
        line-height: 13px;
        color: $gray-text;
    }

    &__heading {
        margin: 0;
        font-size: 18px;
        line-height: 23.5px;
        margin-bottom: 7px;
    }

    &__description {
        font-family: "YuGothicMedium";
        line-height: 15px;
        letter-spacing: -.7px;
    }
}

