.btn {
    background: $gray-button;
    font-family: "Helvetica";
    text-align: center;
    width: 404px;
    font-size: 20px;
    color: $white;
    border: 0;
    padding: 8px 18px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    position: relative;

    &:hover {
        font-size: 31px;
        background: $red-button;
        width: 544px;
        margin-left: 0;
        padding: 7px 18px;
    }

    &__icon {
        position: absolute;
        right: 18px;
        height: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.back-to-top {
    position: absolute;
    bottom: 20px;
    right: 0;
    transition: all .2s linear;
    z-index: 1000;

    &:hover {
        opacity: .7;
    }
}

