.menu {
    background: $light-gray;
    &__nav {
        padding: 0;
        list-style-type: none;
    }

    &__item {
        flex: 1;
        text-align: center;
    }

    &__url {
        font-family: "YuGothicBold";
        font-size: 16px;
        line-height: 24px;
        color: $black;
        display: block;
        padding: 13px 0;

        &:hover {
            transition: all .2s linear;
            background: $hover-gray;
        }
    }

    &__url--active {
        background: $hover-gray;
    }
}