.recommend {
    padding-bottom: 40px;
    &__header {
        font-family: "YuGothicMedium";
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 10px;
        color: $black;
        margin-bottom: 0 0 20px;
        border-bottom: 2px solid $black;
        text-align: center;
    }

    &__url {
        display: block;
    }

    &__url:not(:last-child) {
        margin-bottom: 20px;
    }

    &__item {
        @extend .flex;

        &:hover {
            transition: all .2s linear;
            opacity: .7;
        }
    }

    &__image {
        flex: 0 0 112px;
        max-width: 112px;
    }

    &__content {
        flex: 1;
        padding-left: 8px;
        padding-right: 15px;
    }

    &__description {
        font-family: "YuGothicBold";
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -.7px;
        margin-bottom: 5px;
    }

    &__subhead {
        font-family: "Helvetica";
        font-size: 12px;
        line-height: 12px;
        color: $gray-text;
    }
}