.slider {
    &__viewport {
        position: relative;
        overflow: hidden;
    }

    &__items-holder {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        transition: all .6s ease;
    }

    &__item {
        display: block;
        position: relative;
        color: $white;
        float: left;
    }

    &__content {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    &__heading {
        font-size: 60px;
        line-height: 60px;
        margin: 0 0 45px;
        color: $white;
    }

    &__description {
        color: $white;
    }

    &__navs {
        position: absolute;
        height: 48px;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        @extend .flex;
    }

    &__arrow--left {
        margin-right: auto;
        transition: all .2s linear;
    }

    &__arrow--right {
        margin-left: auto;
        transition: all .2s linear;
    }

    &__arrow, &__arrow {
        &:hover {
            opacity: .6;
        }
    }

    &__indicators {
        padding: 0;
        list-style-type: none;
        position: absolute;
        bottom: 18px;
        right: 0;
        left: 0;
        margin: auto;
        @extend .flex;
        justify-content: center;
    }

    &__indicator-item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $white;
        float: left;
        cursor: pointer;
    }

    &__indicator-item:not(:last-child) {
        margin-right: 16px;
    }

    &__indicator-item--active {
        background: $yellow;
    }
}