@charset "UTF-8";
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.eot") format("eot"), url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal; }

@font-face {
  font-family: "YuGothicBold";
  src: url("../fonts/YuGothicBold/yugothib.ttf") format("truetype"); }

@font-face {
  font-family: "YuGothicLight";
  src: url("../fonts/YuGothicLight/yugothil.ttf") format("truetype"); }

@font-face {
  font-family: "YuGothicMedium";
  src: url("../fonts/YuGothicMedium/yugothim.ttf") format("truetype"); }

@font-face {
  font-family: "YuGothicRegular";
  src: url("../fonts/YuGothicRegular/yugothir.ttf") format("truetype"); }

.container, .container-flex {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%; }

.flex, .container-flex, .header__social-media, .footer__menu, .sidebar__banner, .article__item, .recommend__item, .slider__navs, .slider__indicators {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; }

.container-relative {
  position: relative;
  align-items: center; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.main-content {
  padding: 42px 0 90px;
  position: relative; }

.img-responsive {
  width: 100%; }

.disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .2s linear; }

html, body {
  height: 100%; }

body {
  background-color: #fff;
  margin: 0; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto; }

h1, h2, h3 {
  font-family: "YuGothicBold", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000; }

p {
  font-family: "YuGothicMedium", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #000; }

a {
  text-decoration: none; }

.header {
  border-top: 3px solid #e7ba2f;
  align-content: center; }
  .header__image-url {
    margin: 26px auto;
    display: block; }
  .header__social-media {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0; }
  .header__social-media-item:not(:last-of-type) {
    margin-right: 17px; }
  .header__url {
    transition: all .2s linear; }
    .header__url:hover {
      opacity: .7; }

.footer {
  background: #000;
  padding: 6.5px 0; }
  .footer__menu {
    padding: 0;
    list-style-type: none;
    margin: 0; }
  .footer__menu-item:not(:last-of-type) {
    margin-right: 20px; }
  .footer__url {
    transition: all .2s linear;
    color: #fff;
    font-family: "YuGothicMedium";
    font-size: 13px;
    line-height: 32px; }
    .footer__url:hover {
      opacity: .7; }
  .footer__copyright {
    color: #fff;
    line-height: 32px;
    font-family: "Helvetica";
    margin-left: auto; }

.sidebar {
  background: #efefef;
  flex: 0 0 300px;
  max-width: 300px;
  padding: 20px;
  height: 100%; }
  .sidebar__banner {
    width: 100%;
    height: 300px;
    background: #fff;
    color: #000;
    font-family: "Helvetica";
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
  .sidebar__banner:hover {
    opacity: .7;
    transition: all .2s linear; }
  .sidebar__banner--dark {
    height: 94px;
    background: #666;
    color: #fff;
    margin-bottom: 0; }
  .sidebar__banner--dark:not(:last-child) {
    margin-bottom: 16px; }

.article {
  flex: 1;
  margin-right: 56px; }
  .article__url {
    display: block; }
  .article__url:not(:last-of-type) {
    margin-bottom: 40px; }
  .article__url:last-of-type {
    margin-bottom: 60px; }
  .article__image {
    flex: 0 0 206px;
    max-width: 206px;
    position: relative; }
  .article__image-item--overlay {
    z-index: -2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0; }
  .article__item:hover .article__image-item--overlay {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    transition: all .2s linear; }
  .article__item:hover .article__heading {
    color: #e7ba2f;
    transition: all .2s linear; }
  .article__content {
    flex: 1;
    padding-left: 14px; }
  .article__description, .article__subhead {
    font-size: 13px; }
  .article__subhead {
    font-family: "Helvetica";
    margin-bottom: 10px;
    line-height: 13px;
    color: #999; }
  .article__heading {
    margin: 0;
    font-size: 18px;
    line-height: 23.5px;
    margin-bottom: 7px; }
  .article__description {
    font-family: "YuGothicMedium";
    line-height: 15px;
    letter-spacing: -.7px; }

.recommend {
  padding-bottom: 40px; }
  .recommend__header {
    font-family: "YuGothicMedium";
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #000;
    margin-bottom: 0 0 20px;
    border-bottom: 2px solid #000;
    text-align: center; }
  .recommend__url {
    display: block; }
  .recommend__url:not(:last-child) {
    margin-bottom: 20px; }
  .recommend__item:hover {
    transition: all .2s linear;
    opacity: .7; }
  .recommend__image {
    flex: 0 0 112px;
    max-width: 112px; }
  .recommend__content {
    flex: 1;
    padding-left: 8px;
    padding-right: 15px; }
  .recommend__description {
    font-family: "YuGothicBold";
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.7px;
    margin-bottom: 5px; }
  .recommend__subhead {
    font-family: "Helvetica";
    font-size: 12px;
    line-height: 12px;
    color: #999; }

.slider__viewport {
  position: relative;
  overflow: hidden; }

.slider__items-holder {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .6s ease; }

.slider__item {
  display: block;
  position: relative;
  color: #fff;
  float: left; }

.slider__content {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%); }

.slider__heading {
  font-size: 60px;
  line-height: 60px;
  margin: 0 0 45px;
  color: #fff; }

.slider__description {
  color: #fff; }

.slider__navs {
  position: absolute;
  height: 48px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto; }

.slider__arrow--left {
  margin-right: auto;
  transition: all .2s linear; }

.slider__arrow--right {
  margin-left: auto;
  transition: all .2s linear; }

.slider__arrow:hover, .slider__arrow:hover {
  opacity: .6; }

.slider__indicators {
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 18px;
  right: 0;
  left: 0;
  margin: auto;
  justify-content: center; }

.slider__indicator-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  float: left;
  cursor: pointer; }

.slider__indicator-item:not(:last-child) {
  margin-right: 16px; }

.slider__indicator-item--active {
  background: #e7ba2f; }

.btn {
  background: #333;
  font-family: "Helvetica";
  text-align: center;
  width: 404px;
  font-size: 20px;
  color: #fff;
  border: 0;
  padding: 8px 18px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  position: relative; }
  .btn:hover {
    font-size: 31px;
    background: #e7372f;
    width: 544px;
    margin-left: 0;
    padding: 7px 18px; }
  .btn__icon {
    position: absolute;
    right: 18px;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto; }

.back-to-top {
  position: absolute;
  bottom: 20px;
  right: 0;
  transition: all .2s linear;
  z-index: 1000; }
  .back-to-top:hover {
    opacity: .7; }

.menu {
  background: #f2f2f2; }
  .menu__nav {
    padding: 0;
    list-style-type: none; }
  .menu__item {
    flex: 1;
    text-align: center; }
  .menu__url {
    font-family: "YuGothicBold";
    font-size: 16px;
    line-height: 24px;
    color: #000;
    display: block;
    padding: 13px 0; }
    .menu__url:hover {
      transition: all .2s linear;
      background: #ccc; }
  .menu__url--active {
    background: #ccc; }
